* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue";
  font-weight: 400;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  display: none;
}

html,
body {
  height: 100%;
  width: 100%;
}

button {
  width: 250px;
  height: 50px;
  font-size: 18px;
  border-radius: 10px;
  background: black;
  color: white;
  cursor: pointer;
  border: none;
  transition-duration: 500ms;
}

button:disabled {
  background: grey;
  cursor: not-allowed;
}

h1 {
  font-weight: 600;
}

h4 {
  font-size: 20px;
  font-weight: 500;
}

p {
  font-size: 18px;
}

input {
  font-size: 18px;
  height: 50px;
  padding: 10px;
  min-width: 250px;
  max-width: 500px;
}

#container {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  gap: 60px;
}

#task-1,
#task-2,
#task-3,
#task-4,
#task-5,
#task-6,
#task-7,
#task-8,
#task-9,
#task-10 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#task-2 #box,
#task-3 #box,
#task-4 #box,
#task-8 #box {
  width: 250px;
  height: 250px;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 10px;
  transition-duration: 500ms;
}

#task-4 {
  gap: 40px;
}

#task-4 #buttons,
#task-5 #buttons,
#task-7 #content,
#task-10 #boxes,
#task-10 #buttons {
  display: flex;
  gap: 10px;
  align-items: center;
}

#box-red,
#box-yellow,
#box-green {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 1px solid grey;
  transition-duration: 500ms;
}
